@import "Reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "header.css";
@import "footer.css";
@import "index.css";

/* *{
    outline: 1px solid;
} */
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.d_flex{
    display: flex;
}
.flex_direction_column{
    flex-direction:column
}
.jc_sb{
    justify-content: space-between;
}
.jc_c{
    justify-content: center;
}
.ai_c{
    align-items: center;
}
.flex_wrap_wrap{
    flex-wrap: wrap;
}
/* .mr-16{
    margin-right: 64px;
} */
.h1{
    font-size: 64px;
    font-weight: bold;
}
.h2{
    font-size: 48px;
    font-weight: bold;
}
.h3{
    font-size: 36px;
}
.h4{
    font-size: 24px;
    font-weight: bold;
}
.text-darkRed{
    color: #650300;
}
.text-red{
    color: #aa0601;
}
.text-white{
    color: white;
}
.text-align-center{
    text-align: center;
}
.italic {
    font-style: italic;
}
.mb-12{
    margin-bottom: 48px;
}
.mb-8{
    margin-bottom: 32px;
}
@media (max-width:992px) {
    .mb-md-6{
        margin-bottom: 24px;
    }
}
.mb-6{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 16px;
}
.mb-2{
    margin-bottom: 8px;
}
.pb-8{
    padding-bottom: 32px;
}
.ptpb-20{
    padding: 80px 0;
}
.p-4{
    padding: 16px;
}
@media (max-width:576px) {
    .ptpb-20{
        padding: 40px 0;
    }
}
.bgfbf2f2{
    background-color: #fbf2f2;
}
.bg-white{
    background-color: white;
}
.container{
    max-width: 1320px;
    /* 1296+24 */
    margin: 0 auto;
    padding: 0 12px;
}
@media (max-width:992px) {
    .container{
        /* max-width: 720px; */
        padding: 0 36px;
    }
}
@media (max-width:767px) {
    .container{
        /* max-width: 372px; */
        padding: 0 16px;
    }
}
@media (max-width:767px) {
    .container.navBox{
        padding: 0;
    }
}

/* @media (max-width:375px) {
    .container {
        max-width: 348px;
    }
} */